* {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

li,
a {
  color: #000;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-button

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #47bbbb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1c7e7e;
}

:root {
  --color-success: #2f5acf;
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94c;
  --color-danger: #f75842;
  --color-white: #fff;
  --color-black: #000;

  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

img {
  width: 100%;
  display: block;
  object-fit: contain;
}

.btn {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: var(--color-white);
  background: var(--color-primary);
  transition: var(--transition);
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.8) !important;
  background: rgb(245, 245, 245);
}

.container {
  margin: 0 auto;
  width: var(--container-width-lg);
}

.controler {
  font-size: 30px;
  display: none;
  margin-left: 15px;
  position: absolute;
  top: 115px;
  left: 0%;
  color: red;
}

.controler.show {
  display: block;
}

/* ===============================  */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  margin: 0 auto;
  background: #f8f9f9;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 1px;
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */
  padding: 0px 37px;
}

.header__logo {
  width: 10rem;
  align-self: center;
}

.header__logo a {
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.header__menu {
  background-color: transparent;
  display: inline-block;
  align-self: center;
  margin-left: 10px;
  position: relative;
  display: none;
  height: 40px;
  width: 40px;
}

.header__menu>span {
  transition: all 0.25s;
  width: 22px;
  height: 3px;
  display: block;
  background: #000;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.header__icon-search {
  font-size: 1.5rem;
  margin-top: 8px;
  margin-left: 20px;
  display: none;
}

.header__search.show {
  display: flex;
}

.header__menu>span:nth-child(1) {
  top: calc(50% - 7px);
}

.header__menu>span:nth-child(2) {
  top: 50%;
}

.header__menu>span:nth-child(3) {
  top: calc(50% + 7px);
}

.header__menu.active>span:nth-child(1) {
  top: calc(50% - 3px);
  left: calc(50% - 10px);
  transform: translateZ(0) rotate(45deg);
}

.header__menu.active>span:nth-child(2) {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header__menu.active>span:nth-child(3) {
  top: calc(50% - 3px);
  left: calc(50% - 10px);
  transform: translateZ(0) rotate(-45deg);
}

/* ============= */
.search__no-result-found {
  margin: 30px auto;
  text-align: center;
  max-width: 50%;
}

.search__no-result-found__img {
  width: 50%;
  margin: 0 auto;
}

/* =============== */
.header__search {
  margin: 0 20px;
  background: #fff;
  width: 40%;
  align-self: center;
  height: 40px;
  border: 1px solid rgba(255, 0, 0, 0.8);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.header__logo__img {
  align-self: center;
}

.header__search input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  font-size: 15px;
  width: 50%;
  padding: 5px;
}

.header__search span {
  text-align: center;
  padding: 4px 18px;
  background: red;
  color: #fff;
  border-radius: 10px;
  margin-right: 0;
  align-self: center;
  margin: 4px;
}

/* =================== */
.container-tasbar {
  display: flex;
  /* background: #ccc; */
  width: 20%;
}

.container-tasbar__list {
  list-style: none;
  padding-left: 0;
  position: relative;
}

.container-tasbar__list-title {
  text-align: center;
  display: block;
  padding: 10px;
}

.container-tasbar__list-title i {
  padding: 10px;
}

.container-tasbar__item {
  display: flex;
  justify-content: space-between;
  padding: 10px 4px;
  width: 210px;
  cursor: pointer;
}

.container-tasbar__item:hover {
  background-color: var(--primary-color);
}

.container-tasbar__item:hover .container-tasbar__item-text {
  color: var(--white-color);
  transform: translateX(20px);
}

.container-tasbar__item:hover .container-tasbar__item-icon {
  display: none;
}

.container-tasbar__item:hover .container-tasbar__subnav {
  display: block;
}

.container-tasbar__item-text--bold {
  font-weight: bold;
}

.container-tasbar__item-text {
  font-size: 14px;
  color: var(--text-color);
  transition: transform 0.5s;
}

.container-tasbar__item-icon {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
}

.container-tasbar__subnav {
  --width-subnav: 245px;
  position: absolute;
  right: calc(var(--width-subnav) * -1);
  top: 0;
  left: 98%;
  width: 245px;
  height: 245px;
  padding-left: 0;
  list-style: none;
  background: #f2f2f2;
  border-left: red 3px solid;
  display: none;
  animation: fadeIn 0.5s ease;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.container-tasbar__subnav.container-tasbar__subnav-large {
  --width-subnav: 405px;
  position: absolute;
  right: calc(var(--width-subnav) * -1);
  top: 0;
  width: var(--width-subnav);
  height: 610px;
  padding-left: 0;
  list-style: none;
  background: #f2f2f2;
  border-left: red 3px solid;
  display: none;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container-tasbar__subnav-item {
  font-size: 14px;
  color: var(--text-color);
  padding: 12px;
}

.container-tasbar__subnav-item:hover {
  color: var(--primary-color);
  background-color: red;
}

.container-tasbar__subnav-item--active {
  color: var(--primary-color);
}

.container-tasbar__subnav-item--active:hover {
  color: var(--black-color);
}

/* =================== */
.menu__nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

.menu__nav__list>.item {
  padding: 6px 10px;
  margin: 0 10px;
  border-radius: 20px;
}

.menu__nav__list>.item:hover {
  background: #00bf8e;
}

.menu__nav__list>li {
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.item:nth-child(2):hover .menu__nav_category {
  display: block;
}

.menu__nav_category {
  position: absolute;
  top: calc(100%);
  left: 50%;
  transform: translateX(-50%);
  display: none;
  color: rgba(0, 0, 0, 0.8);
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.menu__nav_category>li {
  height: auto;
  padding: 10px 0;
  margin: auto 20px;
  text-align: center;
  min-width: 140px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__right {
  display: flex;
  align-items: center;
  margin-right: 20px;
  min-width: 130px;
}

.header__right i {
  margin: 10px;
  font-size: 22px;
}

/* Overplay */
.overplay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
  animation: fadeIn 0.5s ease;
}

/* Menu list */
.header__menu-list {
  position: fixed;
  list-style: none;
  padding-left: 0;
  background-color: #fff;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 15;
  cursor: pointer;
  overflow-x: hidden;
  transition: 0.3s;
}

.header__menu-item {
  position: relative;
  color: #000;
  padding: 12px 20px;
}

.header__menu-item-underline {
  border-bottom: 2px solid #ccc;
  width: 80%;
  margin-left: 20px;
}

.header__menu-item-wrap {
  padding-left: 20px;
}

.header__menu-item-wrap:hover {
  color: red;
}

.header__menu-title {
  font-size: 26px;
  color: #000;
  text-align: center;
  border-bottom: 2px solid red;
  padding: 10px 0;
}

.header__menu-name {
  font-size: 18px;
  position: relative;
  display: block;
  margin-left: 8px;
}

.header__menu-name:hover .header__menu-item-icon-down {
  transform: translateY(-50%) rotate(-180deg);
}

.header__menu-item-icon {
  font-size: 1.6rem;
  margin-right: 8px;
  position: absolute;
  left: 0;
  top: 16px;
}

.header__menu-item-icon-left {
  position: absolute;
  right: 20px;
  top: 12%;
  font-size: 24px;
  color: red;
}

.header__menu-item-icon-down {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  transition: transform 0.4s;
}

.header__submenu-list {
  list-style: none;
  padding-left: 50px;
  display: none;
}

.header__submenu-list-account.show {
  display: block;
}

.header__submenu-list-stading.show {
  display: block;
}

.header__submenu-list-favorite.show {
  display: block;
}

.header__submenu-item {
  font-size: 16px;
  padding: 10px 0;
  color: #000;
}

.header__submenu-item:hover {
  color: red;
}

.header__submenu-item-icon {
  margin-right: 8px;
}

.header__login_title {
  display: inline-block;
  font-size: 12px;
  text-align: center;
}

.header__right span {
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  margin: 5px;
}

.header__right .header__login_avatar {
  width: 34px;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
}

.header__login {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 16px;
}

.header__login-icon,
.header__login_avatar {
  display: none;
  cursor: pointer;
}

.header__login-icon.show,
.header__login_avatar.show {
  display: inline-block;
}

.header__login-menu,
.header__login-user-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: -20%;
  background: #fff;
  border: 1px solid #ccc;
  min-width: 180px;
  text-align: center;
  border-radius: 6px;
  z-index: 99;
  /* margin: 10px 0; */
  /* dadsdasdasda */
}

/* link go to admin */
.header__login-go-to-admin {
  display: none;
}

.header__login-go-to-admin>a {
  display: block;
}

.header__login-go-to-admin.show {
  display: block;
}

.header__login-user-menu li {
  padding: 5px;
}

.header__login-user-menu li:hover {
  background: #ccc;
}

.header__login:hover .header__login-icon.show~.header__login-menu,
.header__login:hover .header__login_avatar.show~.header__login-user-menu {
  display: block;
}

.header__login-menu button {
  outline: none;
  font-size: inherit;
  padding: 8px 12px;
  border: none;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header__login-menu .header__login-btn-login {
  margin-top: 5px;
  padding: 5px;
}

.btn_header {
  padding: 5px;
}

.btn_dangxuat {
  padding: 5px;
}

.header__login-menu .header__login-btn-register {
  margin-bottom: 5px;
}

/* .header__login-menu li {
  padding: 8px 16px;
} */

.header__login-menu li:hover button {
  background: #e9ecef;
  /* color: #fff; */
}

/* =============== */
.cart {
  position: relative;
  width: 110px;
}

.img_cart {
  position: relative;
  left: 5px;
  bottom: -10px;
}

.cart__counter {
  position: absolute;
  width: auto;
  right: 50;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 45%;
  top: 0;
  color: #fff;
  background: #ee2624;
  text-align: center;
}

/* ===================container */

/* ----------------------------- */
.banner {
  margin: 10px auto;
  max-width: 1200px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  height: 450px;
}

#banner.disable {
  display: none;
}

.banner.disable {
  display: none;
}

.banner img {
  height: 54%;
  border-radius: 20px;
  animation: fadeIn 0.5s ease;
}

.banner__primary {
  width: 100%;
  display: flex;
}

.banner__primary .container__imgLarge {
  width: 80%;
}

.banner__thumbnail img {
  height: 100%;
}

/* imgLarge */
.container__imgLarge-wrap {
  position: relative;
}

.container__imgLarge-wrap.disable {
  display: none;
}

.container__imgLarge-wrap-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  cursor: pointer;
}

.container__imgLarge-icon:nth-child(1) {
  font-size: 25px;
  color: red;
  opacity: 0.5;
}

.container__imgLarge-icon:nth-child(2) {
  font-size: 25px;
  color: red;
  position: absolute;
  right: 0;
  opacity: 0.3;
}

.container__imgLarge-icon:nth-child(2):hover,
.container__imgLarge-icon:nth-child(1):hover {
  opacity: 1;
}

.container__imgLarge-wrap-circle {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.container__imgLarge-icon-circle {
  font-size: 14px;
  color: #ccc;
  margin: 0 4px;
}

.container__imgLarge-icon-circle.active {
  color: red;
}

.container__imgLarge-icon-circle:hover {
  color: red;
  opacity: 0.5;
}

.banner__primary img {
  padding: 10px;
}

.banner__thumbnail {
  display: flex;
}

.banner__thumbnail img {
  width: calc(100% / 3);
}

.banner__primary img {
  padding: 10px;
}

.banner__thumbnail {
  display: flex;
}

.banner__thumbnail img {
  width: calc(100% / 3);
}

/* =============== */
.product__container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.container__row {
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  margin: 30px 0;
  display: block;
  padding: 10px 0;
  border-radius: 4px;
}

.container__row.disable {
  display: none;
}

.product__container.disable {
  display: none;
}

.container__row-header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.container__row-header-heading {
  /* background: green; */
  padding: 6px 10px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  position: relative;
  background-color: #fff;
  text-transform: uppercase;
}

/*
.container__row-header-heading::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
     width: 30px;
  height: 42px; 
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-left: 21px solid green;
}
*/
.container__row-header-seeMore {
  /* background: #ccc; */
  padding: 4px 10px;
  border-radius: 10px;
  border: 1px solid red;
}

.container__row-wrap-list::-webkit-scrollbar {
  display: none;
}

.container__row-wrap-list {
  width: calc(100%);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.container__row-card {
  /* width: calc(20% - 20px); */
  margin: 10px;
  padding: 10px;
  display: inline-block;
  flex: 0 0 auto;
  transition: all 0.3s ease;
  background-color: #fff;
  border-radius: 5px;
  /* border: 1px solid #f2f4f5; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.container__row-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container__row-card-title {
  font-size: 15px;
  text-align: start;
  padding: 7px 10px 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product__price--percent {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: #fff;
  width: 36px;
  height: 36px;
  font-size: 14px;
  border-radius: 50%;
}

.product__price--percent p {
  padding: 6px 0 0 3px;
  font-size: 15px;
  text-align: center;
}

.container__row-card-price {
  color: red;
  font-size: 18px;
  text-align: end;
}

.container__row-btn-next,
.container__row-btn-prev {
  position: absolute;
  /* top: 180px; */
  top: 50%;
  transform: translateY(-50%);
  /* width: 10vw; */
  display: inline-block;
  /* transform: translateY(500%); */
  left: 10px;
  padding: 6px 9px 3px 10px;
  line-height: 1.4;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
  border: none;
  background: transparent;
  z-index: 5;
  outline: none;
}

.container__row-btn-next:hover,
.container__row-btn-prev:hover {
  background: #ccc;
  cursor: pointer;
}

.container__row-btn-next {
  right: calc(0% + 10px);
  left: unset;
  display: inline-block;
}

/* ============= Content============ */
.container-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  width: calc(20% - 14px);
  border-radius: 8px;
  padding: 8px 10px 10px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 14px;
  transition: all 0.2s ease;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.card__img,
.container__row-card img {
  height: 240px;
}

.card:hover {
  /* padding: 8px 10px 5px; */
  transform: translateY(-5px);
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.3);
}

.card__title {
  font-size: 15px;
  text-align: start;
  padding: 7px 10px 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card__price {
  font-size: 20px;
  padding-right: 25px;
  text-align: end;
}

.card__price__persent {
  background: red;
  padding: 8px;
  font-size: 16px;
  border-radius: 10px;
  color: #fff;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__footer>.card__item__Price {
  font-size: 14px;
  color: rgb(0, 0, 0, 0.8);
  text-decoration: line-through;
}

.card__item__currentPrice {
  color: red;
  font-size: 16px;
  text-align: end;
  padding-right: 16px;
}

/* ===================== Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  max-width: 10 0%;
  /* opacity: 0; */
  display: none;
}

.modal.active {
  /* opacity: 1; */
  display: inline-block;
  transform: translate(-50%, -50%);
}

.modal-header {
  /* padding: 10px 15px; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-header button {
  align-self: flex-end;
}

.modal-header .title {
  font-size: 1.6rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay {
  position: fixed;
  z-index: 9;
  /* opacity: 0; */
  transition: 0 ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  display: none;
}

#overlay.active {
  /* opacity: 1; */
  display: inline-block;

  pointer-events: all;
}

.input {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid #2f5acf;
}

.cart__heading {
  font-size: 26px;
  text-align: center;
  line-height: 1.5;
  clear: both;
}

.cart__btnClose {
  font-size: 20px;
  margin-bottom: 0;
  padding: 10px;
  float: right;
  display: block;
}

.list__cart {
  width: 70%;
  position: absolute;
  margin-bottom: 50px;
  max-height: 95vh;
  transform: translateX(-50%);
  top: 2%;
  left: 50%;
  border-radius: 10px;
  background: #fff;
  display: none;
  z-index: 9;
  overflow-y: scroll;
  padding: 10px;
}

.list__cart.show {
  display: block;
}

.cart__items {
  flex-direction: column;
  display: flex;
  align-items: center;
  display: none;
  /* background: #fff; */
  /* border-radius: 10px; */
}

.cart__items.show {
  display: block;
}

.cart__noCart {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  margin: 20px auto;
}

.cart__noCart.disable {
  display: none;
}

.cart__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  /* margin: 20px 0; */
  border: 1px solid #ccc;
  width: 100%;
  min-height: 200px;
  background-color: #fff;
}

.cart__item .cart__item__img {
  width: 120px;
}

.cart__item_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__item__title {
  width: 160px;
  text-align: center;
  font-size: 15px;
  overflow: hidden;
}

.cart__item__img {
  border-radius: 10px;
}

.cart__item__quantity {
  margin: 0 10px;
  display: flex;
}

.cart__item__quantity input {
  width: 30px;
  font-size: 18px;
  align-self: center;
  text-align: center;
  padding: 2px 0;
}

.cart__item__quantity button {
  padding: 4px;
  outline: none;
  border: 1px solid transparent;
  background: #ccc;
  margin: 0 5px;
}

.cart__item__quantity button.disable {
  cursor: not-allowed;
}

.cart__item__price {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 0, 0, 0.8);
}

.cart__item__trash {
  font-size: 18px;
  padding: 5px;
}

.cart__overlay {
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  height: inherit;
  width: initial;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.cart__overlay.show {
  display: block;
}

.cart__footer {
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.cart__footer.disable {
  display: none;
}

.cart__btnOrder {
  font-size: 16px;
  background: rgb(255, 66, 78);
  color: rgb(255, 255, 255);
  padding: 13px 10px;
  text-align: center;
  border-radius: 4px;
  border: none;

  width: 40%;
  display: block;
  cursor: pointer;
  margin: 15px auto;
}

.cart__total {
  /* margin: 20px 50px;  */
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.cart__total__title {
  font-size: 20px;
}

.cart__total p {
  margin-right: 30px;
}

/* ========Footer ============*/

.footer-container {
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 30px 50px;
  /* text-align: center; */
  font-size: 15px;
  line-height: 1.7;
  max-width: 1200px;
  margin: 10px auto;
  background: #fff;
}

.footer-container_left {
  width: 35%;
  text-align: -webkit-left;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: 25px;
}

.footer-container_left .footer__info__icon i {
  position: relative;
  left: 50;
  font-size: 22px;
  padding: 0 10px;
}

.footer-container_right {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  text-align: start;
}

.footer_item {
  width: 33.3333%;
  padding: 10px;
}

.footer_item li {
  font-size: 14px;
  padding: 6px 0;
}

.footer_item li:hover {
  transform: translateX(10px);
  transition: all 0.3s ease-out;
}

.footer__contact_icon {
  padding: 10px;
}

.footer__copyright {
  text-align: center;
  margin: 30px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

/* ====================== */
.toolbar__search {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 60px auto;
  position: relative;
}

.toolbar__search-btn {
  padding: 8px 10px;
  margin: 0 30px;
  outline: none;
}

.toolbar__search-left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.price-range {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.price-range input {
  padding: 8px 10px;
  max-width: 120px;
  font-size: 14px;
  margin: 5px;
} 

.toolbar__search-icon {
  font-size: 14px;
  margin-left: 20px;
  padding: 10px 12px;
  background: red;
  color: #fff;
  border-color: red;
  border-radius: 3px;
}
.toolbar__search-icon:hover {
  background-color: black;
  border-color: black;
}

/* ===============Tool Search */
.container-header {
  padding: 20px;
}

.toolbar__search-range,
.toolbar__search-filter {
  padding: 5px;
  margin: 0 20px;
  position: relative;
}

.toolbar__search-range-title,
.toolbar__search-filter-title {
  border: 1px solid #ccc;
  min-width: 180px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin-left: 20px;
}

.toolbar__search-range-list,
.toolbar__search-filter-list {
  position: absolute;
  text-align: start;
  width: 100%;
  display: none;
  z-index: 10;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.toolbar__search-range:hover .toolbar__search-range-list,
.toolbar__search-filter:hover .toolbar__search-filter-list {
  display: inline-block;
}

.toolbar__search-range-list>div,
.toolbar__search-filter-list>div {
  padding: 7px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar__search-range-list>div>i,
.toolbar__search-filter-list>div>i {
  /* padding-left: 6px; */
  color: red;
  display: none;
}

.toolbar__search-range-list>div.active>i,
.toolbar__search-filter-list>div.active>i {
  display: inline-block;
}

.toolbar__search-range-list>div>i,
.toolbar__search-filter-list>div>i {
  color: red;
}

.toolbar__search-range-list>div:hover,
.toolbar__search-filter-list>div:hover {
  background-color: #ccc;
}

.toolbar__search-message {
  display: block;
  color: red;
  text-align: center;
}

/* .toolbar__search-range-title {
  padding: 8px 10px;

  font-size: 16px;
  background: #ccc;
  width: 60px;
}
.toolbar__search-range-sort {
  display: none;
}
.toolbar__search-range-title:hover .toolbar__search-range-sort {
  display: block;
}
 */
.login_form_content {
  width: 40%;
  position: absolute;
  background: #fff;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  display: none;
  z-index: 9;
}

.login_form_content.show {
  display: block;
}

.login_form_header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  clear: both;
}

.login_form_btn_close {
  float: right;
  padding: 6px;
  margin: 0;
}

.login_form_header span {
  margin: 10px;
  color: #000;
}

.login_form_header span hr {
  width: 0;
}

.login_form_header>span.active {
  margin: 10px;
  /* color: rgb(80, 80, 223); */
  color: red;
}

.login_form_header>span.active>hr {
  /* background: rgb(80, 80, 223); */
  background: red;
  transition: all 0.3s ease;
  height: 2px;
  border: none;
  width: 100%;
  opacity: 1;
}

.login_form_header span hr {
  opacity: 0;
}

.login_form_header span:hover {
  /* color: rgb(80, 80, 223); */
  color: red;
}

.login_form_header span:hover hr {
  /* background: rgb(80, 80, 223); */
  background: red;
  transition: all 0.3s ease;
  height: 2px;
  border: none;
  width: 100%;
  opacity: 1;
}

/* .login_form_header span:hover {
  border-bottom: 1px solid #000;
  margin-bottom: 0;
  box-sizing: border-box;
} */
.login_form_content label {
  padding: 20px;
  font-size: 14px;
  color: #000;
}

.login_form_content button {
  font-size: inherit;
  display: block;
  padding: 15px;
  margin: 30px auto;
  width: 86%;
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
  background: red;
}

.login_form_content input {
  font-size: inherit;
  padding: 10px;
  outline: none;
  width: 100%;
  border-radius: 5px;
  /* outline: none; */
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.login_form_content input.success {
  border: 2px solid #2ecc71;
}

.login_form_content input.error {
  border: 2px solid #e74c3c;
}

.form_message {
  visibility: hidden;
  color: #e74c3c;
}

.form_message.show {
  visibility: visible;
  color: #e74c3c;
}

.login_form_header span {
  width: 50%;
  text-align: center;
}

.login_content {
  display: none;
}

.login_content.show {
  display: block;
}

.register_content {
  display: none;
}

.register_content.show {
  display: block;
}

.form_forget_password {
  display: flex;
  justify-content: end;
  margin-right: 30px;
}

.form_group {
  position: relative;
  margin: 0 30px 20px;
}

.form_input_showtext {
  position: absolute;
  right: 0;
  top: 53%;
  font-size: 14px;
  color: red;
  padding: 0 10px;
  -webkit-user-select: none;
  user-select: none;
}

.form_message {
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
}

.form_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.form_overlay.show {
  display: block;
}

.order__container {
  width: 90%;
  margin: 0 auto;
  z-index: 10;
  position: absolute;
  background: #fff;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  border-radius: 10px;
  padding: 10px;
}

.order__container.show {
  display: block;
}

.order__container__header {
  text-align: center;
  margin: 10px 0;
  clear: both;
}

.order__container__heading {
  text-align: center;
}

.order__container__img {
  width: 60%;
  text-align: center;
  margin: 10px auto;
}

.order__content {
  display: none;
}

.order__content.show {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tbody tr {
  height: 50px;
  width: 100%;
  text-align: center;
}

th,
td {
  border: 1px solid #ccc;
}

.order table {
  display: none;
}

.order table.show {
  display: block;
}

.order__container>h3 {
  text-align: center;
  margin: 20px;
  color: red;
}

.order__container>h3.disable {
  display: none;
}

.column1 {
  width: 5%;
}

.column2 {
  width: 10%;
}

.column3 {
  width: 25%;
}

.column4 {
  width: 15%;
}

.column5 {
  width: 15%;
}

.column6 {
  width: 15%;
}

.column7 {
  width: 15%;
}

.order__overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: none;
}

.order__overlay.show {
  display: block;
}

.order__container-btn-close {
  font-size: 20px;
  padding: 4px 16px;
  float: right;
}

/* ============== */
.info__container {
  width: 60%;
  background: #fff;
  margin: 0 auto;
  display: none;
  position: absolute;
  z-index: 99;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 5px 20px 20px;
}

.info__btnClose {
  float: right;
  font-size: 20px;
  padding: 10px;
}

.info__containe__heading {
  clear: both;
}

.info__container.show {
  display: block;
}

.info__overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.info__overlay.show {
  display: block;
}

.info__container h3 {
  text-align: center;
  margin-bottom: 10px;
}

.form-group {
  margin: 10px;
}

.info__container label {
  display: block;
  font-size: 14px;
  margin-left: 10px;
}

.info__container select {
  width: 100%;
  padding: 8px 20px;
  appearance: none;
  border-radius: 5px;
  color: #000;
}

.info__container input {
  display: block;
  padding: 8px 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.info__container .info__main {
  display: flex;
  justify-content: space-evenly;
}

.form__info-btn-save {
  padding: 0 30px;
}

.form__info-btn-save button {
  font-size: 16px;
  margin: 10px auto;
  padding: 8px;
  width: 60%;
  display: block;
  border-radius: 5px;
  outline: none;
  border: none;
  background: red;
  color: #fff;
}

/*  */

.card__description table {
  width: 40%;
}

.card__description h3 {
  text-align: center;
}

.card__description td:nth-child(1) {
  border: none;
  text-align: end;
  min-width: 80px;
}

.card__description td:nth-child(2) {
  border: none;
  padding-left: 30px;
  text-align: start;
}

.card__description p {
  padding: 30px 20px;
}

.idQuantity {
  display: none;
}

.info_user {
  padding-bottom: 10px;
  font-weight: 1000;
}

.info_user:hover {
  text-decoration: underline;
  color: blue;
}

.hidden {
  display: none;
}

.pagenumber {
  display: -webkit-box;
  position: absolute;
  top: 374px;
  left: 314px;
}

.pagenumber > ul > li {
  display: inline-block;
}

.pagenumber_item {
  margin: 0 5px;
}

.pagenumber_item_link {
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  color: white;
  min-width: 40px;
  height: 30px;
  background-color: #1b1b1b;
  display: block;
}

.pagenumber_item_link:hover {
  color: cyan;
  border: 1px solid cyan;
}

.pagenumber--centered {
  position: relative;
  left: auto;
  transform: translateX(50%);
}

.product_content {
  display: none;
  position: relative;
  width: 972px;
  height: 420px;
}
.product_content.show {
  display:block;
}

.fa-user {
  position: relative;
  margin: auto;
  top: auto;
}

.display_row_card.disable {
  display: none;
}

.product-image {
  width: 250px;
}

